<div class="container">

  <div class="slider">

  </div>


<!-- <ng-container *ngIf="orders.length > 0; else noOrders">
      <ng-container *ngFor="let orderlist of orders; let i = index">
        <div class="packageBox" (click)="openBoxInfo($event)">
            <div class="packageInfo">
                <div class="trackingNumber">
                  <p>nr przesyłki</p>
                  <span>
                    {{orderlist.tracking_number}}
                  </span>
                </div>

                <div class="status">
                  <p>status</p>
                  <span>{{orderlist.status}}</span>
                </div>

                <div class="sender">
                  <p>nadawca</p>
                  <span>{{orderlist.sender}}</span>
                </div>
            </div>

          <div class="moreBtn">
            <p>więcej</p> <i class="fa-solid fa-arrow-right"></i>
          </div>

        </div>
    </ng-container>
</ng-container> -->


  <button (click)="closeMenu(); clickButton.emit()" class="addReceiveBtn">
    <i class="fa-solid fa-plus"></i>
  </button>

  <!-- <ng-template #noOrders >
    <div class="infoBox">
      <h1>Nie śledzisz jeszcze żadnej przesyłki</h1>

      <span>Kliknij <i class="fa-solid fa-plus"></i> by dodać przesyłkę</span>
    </div>
  </ng-template> -->


    <app-box-info></app-box-info>


</div>
