<div class="container">

  <div class="slider">

  </div>

  <div class="packageBox">

    <div class="packageInfo">

      <div class="trackingNumber">
        <p>nr przesyłki</p>
        <span>
          2163871263871263102390123213
        </span>
      </div>

      <div class="status">
        <p>status</p>
        <span>Wydana do doręczenia</span>
      </div>

      <div class="sender">
        <p>nadawca</p>
        <span>KFD Sp. z o. o.</span>
      </div>

    </div>

    <button class="moreBtn">
      <p>więcej</p> <i class="fa-solid fa-arrow-right"></i>
    </button>

  </div>

  <button class="addReceiveBtn">
    <i class="fa-solid fa-plus"></i>
  </button>

</div>
