header{
  height: 7.5vh;
  width: 100%;
  background-color: white;
  color: #232323;
  border-bottom: 1px solid rgba(178, 178, 178, 0.579);

  padding: 0 15px;
  box-sizing: border-box;
  position: absolute;
  top:0;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  button{
    border:none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  button:active{
    background-color: rgba(90, 90, 90, 0.235);
  }
  span{
    width: 90%;
    padding: 0 10px;
    box-sizing: border-box;
  }
}
main{
  height: 92.5vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 2;

  position: absolute;
  bottom:0;
}
