<header class="header">
  <button (click)="closeAddMenu()"><i class="fa-solid fa-arrow-left"></i></button> <h1>Dodaj przesyłkę</h1>
</header>
<main class="main">
  <h1>Podaj numer przesyłki, którą chcesz śledzić</h1>
  <input
  type="tel"
  placeholder="Numer przesyłki"
  (focusin)="focusIn($event)"
  (focusout)="focusOut($event)"
  (input)="packageNumber($event); validation($event)"
  maxlength="24"
  minlength="0"
  
  >
    <div class="counter-number">{{packageNumberText}}/24 znaków</div>


  <h1>Możesz również nadać tej przesyłce nazwę</h1>
  <input
  type="text"
  placeholder="Nazwa przesyłki"
  (focusin)="focusIn($event)"
  (focusout)="focusOut($event)"
  (input)="packageName($event)"
  maxlength="20"

  >
  <div class="counter-name">{{packageNameText}}/20 znaków</div>


  <button class="addOrderBtn" disabled="disabled" (click)="addOrder()">Dodaj</button>
</main>
