header{
  height: 7vh;
  width: 100%;

  background-color: white;
  font-family: 'Kanit', sans-serif;
  border-bottom: 1px solid rgba(207, 205, 205, 0.479);
  color: #232323;

  transform: translateX(200%);
  transition: 0.5s;

  display: flex;
  align-items: center;

  position: absolute;
  z-index: 2;
  top:0;
  gap: 20px;
  padding-left: 10px;

  button{
    display: flex;
    justify-content: center;
    align-items: center;

    border:none;
    background-color: transparent;
    font-size: 23px;
    cursor: pointer;
    border-radius: 50%;
    padding: 4px 6px;
    color: #232323;


    transition: 0.3s;

    i{
      position: relative;
      top: 1px;
    }
  }
  button:focus{
    background-color: rgba(128, 128, 128, 0.605);
  }

  h1{
    font-size: 15px;
  }

}

main{
  height: 93vh;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  gap: 15px;

  background-color: white;

  transform: translateX(200%);
  transition: 0.5s;


  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  bottom: 0;

  input{
    height: 40px;
    border: 2px solid rgba(207, 205, 205, 0.479);
    font-weight: 600;
    text-indent: 10px;
    outline: none;
  }

  input::placeholder{
    color: rgb(169, 169, 169);
  }

  .counter-number, .counter-name{
    position: relative;
    top: -15px;
    left: 15px;
    font-size: 13px;
    color: rgb(169, 169, 169);
  }

  h1{
    font-size: 16px;

  }

  button{
    border:none;
    height: 45px;
    font-weight: 600;
    color: rgba(128, 128, 128, 0.605);
    cursor: pointer;
  }
}

.menuToggle{
  transform: translateX(0%);
}
